@model IEnumerable<IICURas.Models.GoldStandardListViewModel>

@{
    ViewBag.Title = "Continue Training";
}

<div class="table-responsive col-sm-offset-3 col-sm-6">
    <table class="table text-center hover">
        <tr>
            <th colspan="2" class="">@Html.DisplayNameFor(model => model.TrainingPublicationNumber)
            </th>
        </tr>
        @Html.DisplayForModel()
    </table>
</div>