/* css for the iicuras website. written by Jing Liao*/

html {
    background-color: #333;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    clear: both;
}

header {
margin-bottom:20px
}

a {
    color: #F8AF2D;
    outline: none;
    text-decoration: none !important;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #F8AF2D;
    }

footer {
    clear: both;
    background-color: #333;
    font-size: .8em;
    color: #fff;
    height: 100px;
    margin-top:100px;
}

.site-title {
    color: #333;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
    padding:0;
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: #F8AF2D;
    outline: none;
    text-decoration: none;
    font-weight: bold
}
.site-title a:hover {
    color: #fff;
}


/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: 1.5em;
    margin-top: 10px;
    text-align: right;
}

    #login ul li a {
       color: #d99200;
        margin-left: 3px;
        padding-left:3px;
        text-decoration: none;
     margin-bottom: 0px;
    padding-bottom:0px;
    }
      #login ul li a:hover{
       color: #fff;
        }

/* menu
----------------------------------------------------------*/
  .menu {
    font-size: 1.3em;
    font-weight: 600;
    padding-top: 10px;
    text-align: right;
    clear:both;
}

    .menu li {
        display: inline;
        list-style: none;
        padding-right: 10px;
    }

        .menu li a {
            color: #fff;
            text-decoration: none;
        }

        .menu li a:hover {
            color: #F8AF2D;
            text-decoration: none;
        }

.top-right-menu li a:hover{
    color:black !important;
}
.top-right-menu {
  left:-100px!important;
  float:right!important;
}

/* login page */
#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }

    #loginForm input {
        width: 250px;
    }

    #loginForm input[type="checkbox"],
    #loginForm input[type="submit"],
    #loginForm input[type="button"],
    #loginForm button {
        width: auto;
    }

#logoutForm {
    display: inline;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}



/* tables
----------------------------------------------------------*/
th {
    font-size: 1.2em;
}
    th a:link, th a:visited, th a:active, th a:hover {
        color: #333;
        font-weight: 600;
        text-decoration: none;
    }

    th a:hover {
        color: #000;
    }

.authmenu {
      color:#F8AF2D;
}

.authmenu {
   padding:0;
}

.authmenu a:hover{
    color:#F8AF2D;
}

.hometitle span {
    color:#d2691e;
    font-weight:bold;
    font-size: 24px!important;
}


.action{
    text-align: center;
}

.checklist {
    color:#333;
}
.checklist:hover{
    text-decoration: none;
    color: #333;
}
.orange {
   color:#F8AF2D;
}
.purple {
    color:#6900ef;
}
.blue {
    color:#008aff;
}
.green {
    color:#3b9d40;
}
.red {
    color:#f00;
}
.commentsarea {
    max-width:100%;
    min-width:60px;
    width:200px;
}
/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

.menu{
    text-align:center !important

}
}



.whitefont {
    color: #fff;
}

.whitefont:link, .whitefont:active, .whitefont:default, .whitefont:visited{
    color: #fff;
}

.whitefont a, .whitefont a:link, .whitefont a:active, .whitefont a:default, .whitefont a:visited{
    color: #fff;
}
.whitefont a:hover, a:focus{
    color: #fff;
    text-decoration:none;
}

.listbox {
    width: 50%;
    margin:20px;
    padding:20px;
}
.search-choice-close {
    color:#e80c4d;
}

#warning-font {
    color:#F8AF2D

}

.ErrorMessage {
    color:#e80c4d
}
p span {
    color:#e80c4d
}

hr {
   border-top-color: #c8c8c8 !important
}

.manual-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align:center;
}

.non-active, .non-active:hover, .non-active:link{
   pointer-events: none;
   cursor: default;
   color: #787878;
}

.black-background {
    background-color:#272727;
}

.right-boarder {
    border-right: 3px solid #787878;

}

.left-boarder {
    border-left: 3px solid #787878;

}

.sectionTitle {
    background-color:#333;
    color:#fff;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    text-align:center;
      /*padding-left: 20px;*/
    /*padding-right: 10px;*/
    border-radius:10px;
}

.grey {
    color: #696969
}
.bold {
    font-weight: bold;
}

.gold {
    color: #FFDF00
}
.silver {
    color: #C0C0C0
}
.bronze {
    color: #cd7f32 
}
.full-width-image {
    width: 100%;
}