<div class="col-xs-12 col-md-7 text-justify">
    <h1 class="hometitle">
        <small>A randomised controlled trial of an <span>I</span>ntervention to <span>I</span>mprove <span>C</span>ompliance with the <span>AR</span>RIVE g<span>u</span>ideline<span>s</span></small>
    </h1>
    <br />
    <p>
        We are carrying out a randomised controlled study - <span class="text-danger bold"> IICARus</span> - to assess whether mandating the completion of an ARRIVE checklist improves full compliance with the ARRIVE guidelines.
        Manuscripts, limited to in vivo studies, will be scored by two independent reviewers against the operationalised ARRIVE checklist, blinded both to intervention status and to the scores from the other reviewer.
        Discrepancies will be resolved by a third reviewer who will be blinded to the identity, and unblinded to the scores, of the previous reviewers.

    </p>

    <p>
        It is a big project and we would like to get you involved in assessing manuscripts!
    </p>

    <p>
        There is an online training module accompanied by a resource which is a prerequisite for becoming a reviewer for this study.
    </p>
    <p>
        @*To register and start the training for this study please <a class="btn-warning btn-sm whitefont" href="https://ecrf1.clinicaltrials.ed.ac.uk/iicarus/Account/Register"> Sign Up </a>*@
        To register and start the training for this study please <a class="btn-warning btn-sm whitefont" href="@Url.Action("Register", "Account")"> Sign Up</a>

    </p>
    <p>
        Please register to access to the training module, accompanied by a resource, a prerequisite for reviewing for this study.
    </p>

    <p>
        We would really appreciate your collaboration and support with this endeavour!
        In addition to gaining review skills and earning <a href="@Url.Action("Reward", "Home")"> prizes <i class="fa fa-tablet text-warning fa-lg" aria-hidden="true"></i></a> reviewers will also be listed as collaborators in the resulting
        publication (which means it comes up under your name in PubMed). We plan for the listing of contributions to follow the format for the <a href="http://www.ncbi.nlm.nih.gov/pubmed/25892679">AVERT trial</a>.

        @*The resulting papers will be published in the name of the IICARus collaborators, 
        and all individuals scoring manuscripts will be listed as collaborators (which means it comes up under your name in PubMed).
        We expect these will be interesting and impactful papers.
        
        We plan for the listing of contributions to follow the format for the
    <a href="http://www.ncbi.nlm.nih.gov/pubmed/25892679">AVERT trial</a>.*@
    </p>
</div>
<div class="col-xs-12 col-md-offset-1 col-md-4">
    <a class="twitter-timeline" href="https://twitter.com/hashtag/IICARus" data-widget-id="819842955045470211">#IICARus Tweets</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>