@{
    ViewBag.Title = "Background";
}

<article>
    <p class ="col-md-12">
Few publications describing in vivo research report taking measures which might reduce the risk of bias in their findings, and those which do not report such measures give inflated estimates of biological effects. Measures which might improve the quality of reports of in vivo research have been proposed (<a href="https://www.nc3rs.org.uk/arrive-guidelines">ARRIVE</a>, <a href="http://www.ncbi.nlm.nih.gov/pubmed/23060188">Landis 2012</a>), and while these have been endorsed by a large number of journals there is evidence that this endorsement has not been matched by a substantial increase in the quality of published reports (<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001756">Baker 2014</a>). At present few if any publications will meet every item on the <a href="https://www.nc3rs.org.uk/sites/default/files/documents/Guidelines/NC3Rs%20ARRIVE%20Guidelines%20Checklist%20(fillable).pdf">ARRIVE checklist</a>.  

    </p>

    <p class ="col-md-12">
<a href="http://www.plosone.org/">PLOS ONE</a> is an open access online only publication, which currently publishes around 30,000 articles per year. Of these, some 5,000 published articles per year describe in vivo research. The editorial team at PLOS ONE would like to test the impact on quality of published reports of an intervention which would mandate, at the time of manuscript submission, the completion of a checklist detailing on which page of the manuscript the various components of the ARRIVE checklist were met. This checklist would accompany the manuscript through the peer review process and be published as online supplementary material.  

    </p>

    <p class ="col-md-12">
The PLOS One review system consists of an initial screening process, including a determination of whether a manuscript describes animal studies, and whether it describes human studies (one manuscript might describe both); and categorises the area of research according to an established taxonomy. This stage also includes a determination, for animal experiments, that appropriate IRB/Ethical approvals were in place, and an identification of those studies perceived to be at high risk – for instance those animal studies which use death as an endpoint. Once this process is complete the manuscript is allocated to one of ~6,000 academic editors (AE). This AE makes an initial determination of the suitability of the manuscript and where appropriate invites peer reviewers to appraise the manuscript. The result of this may be acceptance; rejection; or an invitation to revise the manuscript in the light of the comments received. PLOS ONE instructions for authors encourage submission of an ARRIVE checklist, but at present very few authors elect to do so.

    </p >

 
</article>