@{
    ViewBag.Title = "FAQ";
}

<div>
    <p>PLOS ONE has created a Frequently Asked Questions (FAQs) document in order to provide Editorial Office with guidance and information to 1) respond to author questions from authors about the checklist with some standard text and 2) provide answers for EO in response to their own queries about the IICARus website.</p>

</div>
<br />
<h4><strong>AUTHOR Queries</strong> </h4>
<div class="alert alert-danger" role="alert"><strong>NOTE: it is critical that you do not tell authors that we are conducting a trial because this may change their behaviour and responses.</strong></div>

<h5><strong>1. How do I complete the ARRIVE checklist? Is it ok to just add the page number, sections, or do I have to copy the actual text? </strong></h5>
<p>All approaches are fine, please note that upon revision the page numbers may change, so it may be advisable to copy paste the unique text that has been added.</p>

<h5><strong>2. I can’t modify the pdf for the ARRIVE checklist, how do I add this information to the right hand column? </strong></h5>
<p>You can save the pdf file as a word file, and add the changes to the word document. You can either submit the word file, or re-save the word document as a pdf.  </p>

<h5><strong>3. My colleague who submitted a manuscript a few months ago was not asked to provide an ARRIVE checklist, is this a change in policy?  </strong></h5>
<p>As indicated in <a href="http://www.plosone.org/static/editorial#animal">http://www.plosone.org/static/editorial#animal </a>PLOS ONE asks that authors follow the ARRIVE guidelines for all submission describing laboratory based animal research. As part of our internal technical checks we may request this at our own discretion.  </p>
<h5><strong>4. Is it mandatory to upload a completed ARRIVE checklist in order for my manuscript to proceed to peer review? Can I add it later at revision?  </strong></h5>
<p>It is not mandatory to upload a completed ARRIVE checklist at this point. However for reproducibility purposes we would prefer that you follow the ARRIVE guidelines and upload the completed ARRIVE checklist before peer review, as this may aid in the assessment of the work. For more information please see <a href="http://www.plosone.org/static/editorial#animal">http://www.plosone.org/static/editorial#animal </a></p>
<ul>
    <li>
    FOR EO: Please note that you should not volunteer this information - only if you are asked
FOR EO: If an author indicates that they will provide the checklist at a later date, do not tick the checkbox that indicates the author has complied with the request. Instead, note their request in the comments box available
    <li>FOR EO: If an author indicates that they will provide the checklist at a later date, <strong>not tick the checkbox that indicates the author has complied with the request. </strong>Instead, note their request in the comments box available
    </li>
</ul>
<h5><strong>5. Will editors and reviewers see this checklist?
</strong></h5>
<p>
    <strong>Yes</strong>, the checklist will be available for editors and reviewers
</p>
<h5><strong>6. Will this checklist be published with the manuscript?
</strong></h5>
<p>
    <strong>Yes </strong>: here is an example from a published paper in PLOS ONE:
    <a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0106108#s5 ">http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0106108#s5 </a>
</p>

<br />

<h4>FAQs for EO about the website</h4>


<h5><strong>1. I cannot find my password/username to login?
</strong></h5>
<p>
    Please contact <a href="gmorrison@plos.org">gmorrison@plos.org </a>with your user name if known, first name, last name. 
 <br />
    <span>Note: When contacting <a href="gmorrison@plos.org">gmorrison@plos.org </a>please ensure you quote ‘ARRIVE’ in the subject line of your email. </span>
</p>
<h5><strong>2. The website is not working, I am getting an error message/The website is very slow </strong></h5>
<p>Please contact <a href="gmorrison@plos.org">gmorrison@plos.org </a>with a brief description of the situation including what browser you are using, time that this occurred  <span>and a screen shot if possible. </span></p>
<h5><strong>3. I am not sure if this manuscript reports a laboratory-based in vivo animal research?
</strong></h5>
<p>
    Please check our Appendix for further information on what kinds of studies this refers to. If you are still uncertain please contact <a href="gmorrison@plos.org">gmorrison@plos.org</a> with manuscript number and title.
</p>
<h5><strong>4. I’ve added the ARRIVE flag by mistake and I have already randomized a manuscript. What should I do? </strong></h5>
<p>Please contact <a href="gmorrison@plos.org">gmorrison@plos.org </a>with manuscript number and title. </p>
<h5><strong>5. I have added the ARRIVE flag to a manuscript and entered it in our gdoc but I have forgotten to randomize a the manuscript in the system, what should I do? </strong></h5>
<p>Please contact <a href="gmorrison@plos.org">gmorrison@plos.org </a>with manuscript number and title.  </p>
<h5><strong>6. The Corresponding Author has more than one affiliation so which one should I use in the drop down menu ‘Country of Corresponding Author’? </strong></h5>
<p>Please use the one that is most common to the rest of the authors. If this is not possible, please choose one and leave a note about this in the comments box. </p>
<h5><strong>7. I can’t find a manuscript by searching it. </strong></h5>
<p>Please make sure that the manuscript number entered is exactly the same as the original and that there are no spaces at the end or at the beginning. If you are still having difficulties, please contact <a href="gmorrison@plos.org">gmorrison@plos.org </a>with manuscript number and title. </p>
<h5><strong>8. The paper that I am tech checking describes both laboratory-based *and* field research involving live animals. Should I enter this paper into the randomization engine or not?   </strong></h5>
<p>In cases such as the one you describe we will want to err on the side of caution. We ask that if you do encounter such a situation to please do enter the manuscript details into the engine but also add a comment explaining the issue.  </p>

<p><span><strong>When contacting <a href="gmorrison@plos.org">gmorrison@plos.org </a>please ensure you quote ‘ARRIVE’ in the subject line of your email.</strong>  </span></p>
