@{
    ViewBag.Title = "Editorial Office ARRIVE Trial Instructions";
}

<div class="col-xs-12">
    <h2>
        <small class="pull-right">PLOS ONE</small></h2>
    <br />
</div>
<br />

<div class="col-md-12">


    <h3>Purpose</h3>
    <p>PLOS ONE is conducting a randomized controlled trial of manuscripts to gather data on how the reporting of published in vivo animal studies is impacted by the inclusion of the ARRIVE checklist.  Editorial Office will assist with two phases: </p>
    <ol>
        <li>Identifying appropriate manuscripts for inclusion and requesting the checklist </li>
        <li>Recording compliance in the randomization engine website</li>

    </ol>

    <p class="red">PLEASE NOTE: it is critical that you do not tell authors that we are conducting a trial because this may change their behaviour and responses.</p>
    <br />

</div>
<br />
<div class="col-md-12">
    <h3>Process at a glance</h3>
    <h4>Phase 1</h4>
    <ul>
        <li>At TC1, identify lab-based in vivo studies</li>
        <li>Add ARRIVE flag (<span class="red">A</span>)</li>
        <li>Enter details on Gdoc tracker</li>
        <li>Enter manuscript details into randomization engine
        </li>
        <li>Based on engine output, either request or do not request ARRIVE checklist from authors</li>
    </ul>
    <h4>Phase 2</h4>

    <ul>
        <li>When manuscript returns, complete TC1</li>
        <li>Record TC1 status and checklist compliance in randomization engine</li>
    </ul>
    <h4>Point persons </h4>
    <ul>
        <li>Workflow - Kallie Huss (US PA), <a href="mailto:khuss@plos.org">khuss@plos.org</a>
        </li>
        <li>Issues during trial - Gavin Morrison (UK PA), <a href="mailto:gmorrison@plos.org">gmorrison@plos.org</a> </li>
        <ul>
            <li>Please include “ARRIVE” in the subject line of any email queries.  </li>
        </ul>
    </ul>
    <p>Do not mention ARRIVE in any EM discussions or manuscript notes, or anywhere else in EM.   </p>
    <p><strong>ALL questions must be directed to Gavin or Kallie via email.</strong> </p>
    <br />


    s
    <h3>Process</h3>


    <h4>Phase 1: TC1 - randomizing manuscripts</h4>
    <ol>
        <li>Identify papers that involve direct animal experimentation in a laboratory setting.      
        <ul>
            <li>See Appendix below for how to identify these.
            </li>
            <li><strong> Appeals</strong>
                <ul>
                    <li><strong> Appeals, where the original ms was submitted before the trial start date (March 16th, 2015) </strong> - Please do not randomize these manuscripts. If you accidentally randomize and flag this type of appeal, please record the ms number on the gdoc and email the ms number to Gavin at <a href="mailto:gmorrison@plos.org">gmorrison@plos.org</a></li>
                    <li><strong> Appeals, where original ms was submitted after the trial start date</strong> - Please do not randomize these manuscripts again. Please do not remove the flag from these papers. We would like the flag to remain on these papers. When you see an appeal of an ms that was originally flagged, please email the ms number to Gavin at  <a href="mailto:gmorrison@plos.org">gmorrison@plos.org</a>. Please also list the ms number in the gdoc, next to the original ms number.</li>
                </ul>
            </li>

            @*     <li><strong>DO NOT include papers that are appeals or resubmissions</strong> - only include newly submitted papers
            </li>*@


            <li><strong>Resubmissions</strong>
            <ul>
                <li><strong>Resubs, where original ms was submitted before the trial start date</strong> - Please do not randomize these manuscripts. If you accidentally randomize and flag this type of resub, please record the ms number on the gdoc and email the ms number to Gavin at  <a href="mailto:gmorrison@plos.org">gmorrison@plos.org</a></li>
                <li><strong>Resubs, where original ms was submitted after the trial start date  </strong>- Please do not randomize these manuscript again. Please <strong> DO </strong>add the ARRIVE flag to these manuscripts. When you see a resub of an ms that was originally flagged, please email the new and old ms number to Gavin at  <a href="mailto:gmorrison@plos.org">gmorrison@plos.org</a>. Please also list the ms number in the gdoc, next to the original ms number.</li>
            </ul>
            </li>
        </ul>
        </li>
        <li>Check the EM file inventory to see whether the authors have uploaded an ARRIVE checklist before any TC1 sendbacks.  
        <ul>
            <li>The presence of a checklist will be recorded in step 5 below.</li>
        </ul>
        </li>
        <li>Add the ARRIVE flag (<span class="red">A</span>) to the submission.
        <ul>
            <li>Be sure to never remove this flag after it’s added and do not add it to any other papers after TC1.</li>
        </ul>
        </li>
        <li>On the <a href="https://docs.google.com/spreadsheets/d/15DPu5MYrkeIZUWLQDyleSlAQWFzRAo2YlKiKlzoft4U/edit?usp=drive_web">Gdoc tracker</a>, enter your initials and the manuscript number.</li>
        <li>Go to the randomization engine website (<a href="https://ecrf1.clinicaltrials.ed.ac.uk/iicarus">https://ecrf1.clinicaltrials.ed.ac.uk/iicarus</a>)  
        <ul>
            <li>Click “Log in” in the upper-right.</li>
            <li>Log in with your personal username and password (will have been provided by Kallie Huss via email).</li>
        </ul>
        </li>
        <li>Click “<strong>Randomization</strong>” at the top of the page, then enter the requested information for the submission:
        <ul>
            <li><strong>Manuscript Number</strong>: Enter the submission’s full manuscript number (e.g., PONE-D-15-00000)</li>
            <li><strong>Does this manuscript report laboratory-based in vivo animal research?</strong>: Check this box to confirm that the study involves live animals in a laboratory setting.  See details on how to identify these in the Appendix below.</li>
            <li><strong>Have you added the ARRIVE trial flag to the manuscript?</strong>: Check this box to confirm that you have added the ARRIVE flag to the submission.
            </li>
            <li><strong>Does the submitted manuscript already contain the ARRIVE checklist?</strong>: When you checked the EM file inventory before any TC1 sendbacks, was an ARRIVE checklist present (yes or no)?  
            </li>
            <li><strong>Country of Corresponding Author</strong>: Find the corresponding author’s information on the Details page of the submission and select their country here.</li>
            <li><strong>Comments</strong>: If any, enter additional information about anything unusual (e.g., there were two ARRIVE checklists uploaded, you weren’t completely sure if the paper involved in vivo animal experiments, etc.)</li>
        </ul>
        </li>
        <li>Click “<strong>Randomize it.</strong>”</li>
        <li>On the next page you will see a summary of the information you entered.  Click “<strong>Confirm</strong>” if everything is correct, and “<strong>Edit</strong>” if you need to go back and change anything.</li>
        <li>The next page will tell you whether you should request the ARRIVE checklist at TC1.</li>
        <li>If the page says, “<strong>Do NOT request ARRIVE checklist</strong>” complete all other TC1 checks as normal and <strong>do not</strong> include the sendback text to the authors requesting the ARRIVE checklist.</li>
        <li>If the page says, “<strong>Request ARRIVE checklist</strong>,” include the below text in the TC1 sendback to authors:
            <h6>PLOS ONE asks authors to follow the ARRIVE guidelines for reporting animal studies (http://www.nc3rs.org.uk/page.asp?id=1357). Please complete and append a copy of the ARRIVE checklist as supporting information (www.nc3rs.org.uk/downloaddoc.asp?id=1831&page=1357&skin=0). Mark the page number or section to indicate where in the manuscript each applicable item can be found.</h6>
            Even if there are no other TC1 sendbacks, if the page says to request the checklist, please send back to the authors for it.</li>
        <li>All other TC1 checks should go on as normal (e.g., escalate for ethics if necessary, but do not mention the ARRIVE checklist or trial).</li>
        <li>When the author resubmits the manuscript, check the <strong>file inventory</strong> to see whether the authors have uploaded the checklist.  You will not need to open the files, but just check for a description or file name containing “ARRIVE” or “checklist.”
              <ul>
                  <li><strong>Chasing</strong> - If the checklist was requested, but authors do not respond at all to any of the requests in the send back, please chase as normal. Even if the checklist was the only item requested in the send back, please chase as normal.</li>
                  <li><strong>Second send backs </strong> - If the authors do not return the checklist with their ms after the first sendback and there are other outstanding TC1 requests, send the ms back for the other requests (if necessary) but DELETE the original request for the ARRIVE checklist. 
                  </li>
                  <li>If all other TC1 checks have passed but the checklist still has not been included, <strong>do not request the checklist again. </strong>  </li>
                  <li>If the authors DO include the checklist, send back for any other outstanding TC1 requests (if necessary) as normal. </li>
              </ul>
        </li>

        <li>Once you are ready to complete TC1 and send the manuscript to subscan, OR if a manuscript is desk-rejected or withdrawn at TC1, prior to subscan, please proceed to Phase 2.  Every manuscript must have a TC1 status set in the randomization engine website whether or not it passed TC (“passed TC” = sent to subscan).
      
        </li>

    </ol>
    <div class="alert alert-warning" role="alert">It is critical that you do not leave notes in EM about whether the checklist was requested or uploaded.  PLOS staff must not have access to this information during the trial. Check with Gavin or Kallie if you are unsure about anything.</div>

    <br />
    <h4>Phase 2: Recording final TC1 status of ARRIVE-flagged papers</h4>
    <ol>
        <li>Once all TC1 checks have been fulfilled for a manuscript and it is ready to proceed to TC1 complete, or the manuscript is desk-rejected or withdrawn at TC1, log in to the randomization engine website (<a href="https://ecrf1.clinicaltrials.ed.ac.uk/iicarus">https://ecrf1.clinicaltrials.ed.ac.uk/iicarus</a>).
        </li>
        <li>Click “<strong>Status</strong>” at the top of the page.</li>

        <li>In the “<strong>MS Number</strong>” box, enter the manuscript number and click “<strong>Search</strong>”</li>

        <li>On the far right of the search result, click “<strong>Edit</strong>”</li>

        <li>On the next page, select the <strong>TC1 Status</strong>:
                    <ul>
                        <li><strong>Pass TC1</strong> if the manuscript passed TC1 and sent to subscan</li>
                        <li><strong>Rejected at TC1</strong> if the manuscript was desk-rejected prior to subscan
                        </li>
                        <li><strong>Withdrawn at TC1 </strong>if the authors chose to withdraw prior to subscan </li>
                    </ul>
        </li>
        <li>You do not need to enter any comments.</li>
        <li>Select the Checklist Compliance if drop-down is present (it will not be for some mss). 
                                <ul>
                                    <li><strong>Yes</strong> if the authors uploaded the ARRIVE checklist after the sendback</li>
                                    <li><strong>No</strong> if the authors did not upload the checklist</li>
                                    <li><strong>N/A - Ms withdrawn</strong> if the manuscript was withdrawn at TC1 prior to subscan</li>
                                </ul>
        </li>
        <li>Be sure never remove the ARRIVE flag after it has been added, as this is how papers will be tracked through to acceptance. </li>

    </ol>
    <br />
    <h3>Appendix</h3>
    <h4>Identifying lab-based <em>in vivo</em> studies</h4>
    <p>Look for papers that require IACUC approval but are not field studies and not studies involving only tissues, established cell lines, or samples from a third party.</p>
    <p>
        Lab-based translates to animals experimented on in a laboratory - as opposed to field studies, which generally involve only tagging, sampling (including for blood or tissue), or observation.  We do not want these kinds of field studies included.
    </p>
    <p><em>In vivo</em> means the study was done on a whole, living animal - as opposed to only samples previously collected from an animal.  If, as part of the study, animals were sacrificed or samples were taken from a living animal, we would want the manuscript included in the trial; however, if samples were obtained from a third party, and the authors did not interact with live animals, the manuscript should not be included.</p>
    <br />
    <h4>Tabs of the IICARus website</h4>

    <table class="table">
        <tr>
            <th>Home</th>
            <td>The welcome page
            </td>
        </tr>
        <tr>
            <th>EO Instruction</th>
            <td>These instructions
            </td>
        </tr>
        <tr>
            <th>Background</th>
            <td>More information on why this trial is being conducted
            </td>
        </tr>
        <tr>
            <th>Randomization</th>
            <td>This is where you will enter manuscript information at TC1 and receive instructions about requesting the ARRIVE checklist (Phase 1).
            </td>
        </tr>
        <tr>
            <th>Summary</th>
            <td>On this tab you can search for manuscripts that you have entered previously.  You will not be able to search for manuscript other people have entered.
            </td>
        </tr>
        <tr>
            <th>TC1 Status</th>
            <td>This is where you will record the final TC1 status of each manuscript (Phase 2).
            </td>
        </tr>
        <tr>
            <th>Queries?</th>
            <td>Answers to common questions that authors will ask
            </td>
        </tr>
    </table>
</div>
