@using IICURas
@model IEnumerable<IICURas.Models.OngoingReviewViewModel>


@if (!Model.Any())
{ <br/>
    <h4 >You have no uncompleted training.</h4>
}
else
{
    <div class="col-xs-12">
        <h3>
            Active Reviewing Publications

            <small>You may only keep @Model.FirstOrDefault().OngingPublicatinLimit pending publication open.</small>

        </h3>        <div class="table-responsive  col-xs-12 col-xs-offset-0 col-sm-12">
            <table class="table striped-table text-center">
                <thead>
                    <tr>
                        <th class="text-center">Manuscript No.</th>
                        <th class="text-center">Completed/Total Number of Items
                        </th>
                         <th>Species Number
                        </th>
                        <th  class="text-center">Last updated time</th>
                        <th ></th>       <th ></th>
                    </tr>
                </thead>
                <tbody>
                    @Html.DisplayForModel()
                </tbody>
            </table>
        </div>
        <hr />
    </div>
   
}