@{
    ViewBag.Title = "Operationalize Rationale";
}

<p>For each of the 20 items, the same coding scheme for the “judgement criteria” is used: </p>
<dl class="dl-horizontal">
    <dt>Yes:</dt>
    <dd>All specific-recommendations for the item(s) were met </dd>
    <dt>No:</dt>
    <dd>None of the specific-recommendations were met </dd>
    <dt>Partial:</dt>
    <dd>A minimum number or key specific-recommendation(s) were met</dd>
</dl>
<br />
<table class="table table-striped table-bordered ">
    <tr>
        <th>SECTION</th>
        <th>ITEM</th>
        <th>RECOMMENDATION</th>
        <th>JUDGMENT</th>
        <th>CRITERIA FOR JUDGMENT</th>
    </tr>
    <tr>
        <td rowspan="3">Title
        </td>
        <td rowspan="3">1
        </td>
        <td rowspan="3">Provide as accurate and concise<br /> a description of the content of <br />the article as possible.
        </td>
        <td>Yes</td>
        <td>The title must include all of the following: 
            <ol> 
                <li>species studied (e.g. mice) </li>
                <li>disease modeled  (e.g. acute lung injury)</li>
                <li>treatment tested (e.g. mesenchymal stem cells)</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td>No</td>
        <td>The title does not include any of 1 – 3 from above. </td>
    </tr>

    <tr>
        <td>Partial</td>
        <td>The title includes at least <strong>one </strong> of 1 – 3 from above. </td>
    </tr>
</table>

<h4>Examples that meets criteria for “Yes”:</h4>
<p>Gupta N, Su X, Popov B, Lee JW, Serikov V, Matthay MA. Intrapulmonary delivery of bone marrow-derived mesenchymal stem cells improves survival and attenuates endotoxin-induced acute lung injury in mice. J Immunol 2007;179(3):1855-1863.</p>
<p>Kim ES, Chang YS, Choi SJ et al. Intratracheal transplantation of human umbilical cord blood-derived mesenchymal stem cells attenuates Escherichia coli-induced acute lung injury in mice. Respir Res 2011;12:108. </p>

<h4>Example that meets criteria for “Partial”:</h4>
<p>Yang H, Wen Y, Bin J, Hou-You Y, Yu-Tong W. Protection of bone marrow mesenchymal stem cells from acute lung injury induced by paraquat poisoning. Clin Toxicol (Phila ) 2011;49(4):298-302. </p>

<br /><br />

<table class="table table-striped table-bordered ">
    <tr>
        <th>SECTION</th>
        <th>ITEM</th>
        <th>RECOMMENDATION</th>
        <th>JUDGMENT</th>
        <th>CRITERIA FOR JUDGMENT</th>
    </tr>
    <tr>
        <td rowspan="3">ABSTRACT
        </td>
        <td rowspan="3">2
        </td>
        <td rowspan="3">Provide an accurate summary <br /> 
            of the background, research  
            <br />objectives, including details of<br /> the species or strain of animal<br /> used, key methods, principal<br /> findings and conclusion of the study.
        </td>
        <td>Yes</td>
        <td>The abstract must include all of the following: 
            <ol> 
                <li class="orange">Species studied, disease modeled, treatment tested  </li>
                <li class="purple">at least one objective or hypothesis;</li>
                <li class="blue">at least one sentence describing the methods</li>
                <li class="green">at least one sentence describing a finding</li>
                <li class="red">at least one sentence describing a conclusion(s)</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td>No</td>
        <td>The title does not include any of 1 – 5 from above. </td>
    </tr>

    <tr>
        <td>Partial</td>
        <td>The title includes at least <strong>two</strong> of 1 – 5 from above. </td>
    </tr>
</table>

<h4> Example that meets criteria for “Partial” (does not explicit state disease modeled):</h4>
<p>
Gupta N, Su X, Popov B, Lee JW, Serikov V, Matthay MA. Intrapulmonary delivery of bone marrow-derived mesenchymal stem cells improves survival and attenuates endotoxin-induced acute lung injury in mice. J Immunol 2007;179(3):1855-1863.</p>
<p>
    Recent in vivo and in vitro work suggests that mesenchymal stem cells (MSC) have anti-inflammatory properties. In this study, <span class="blue">we tested the effect of administering <span class="orange">MSC </span> directly into the airspaces of the lung 4 h after the intrapulmonary administration of Escherichia coli endotoxin (5 mg/kg). </span> <span class="green">MSC increased survival compared with PBS-treated control <span class="orange">mice</span> at 48 h (80 vs 42%; p < 0.01).</span> There was also a significant decrease in excess lung water, a measure of pulmonary edema (145 +/- 50 vs 87 +/- 20 microl; p < 0.01), and bronchoalveolar lavage protein, a measure of endothelial and alveolar epithelial permeability (3.1 +/- 0.4 vs 2.2 +/- 0.8 mg/ml; p < 0.01), in the MSC-treated mice. These protective effects were not replicated by the use of further controls including fibroblasts and apoptotic MSC. The beneficial effect of MSC was independent of the ability of the cells to engraft in the lung and was not related to clearance of the endotoxin by the MSC. MSC administration mediated a down-regulation of proinflammatory responses to endotoxin (reducing TNF-alpha and MIP-2 in the bronchoalveolar lavage and plasma) while increasing the anti-inflammatory cytokine IL-10. In vitro coculture studies of MSC with alveolar macrophages provided evidence that the anti-inflammatory effect was paracrine and was not cell contact dependent. <span class="red">In conclusion, treatment with intrapulmonary MSC markedly decreases the severity of endotoxin-induced acute lung injury and improves survival in mice.</span>
</p>

<br />

<table class="table table-striped table-bordered ">
    <tr>
        <th>SECTION</th>
        <th>ITEM</th>
        <th>RECOMMENDATION</th>
        <th>JUDGMENT</th>
        <th>CRITERIA FOR JUDGMENT</th>
    </tr>
    <tr>
        <td rowspan="6">Background
        </td>
        <td rowspan="6">3
        </td>
        <td rowspan="3">a. Includes sufficient scientific background/relevant referenced to understand the motivation and context for the study, and explain the experimental approach and rationale

        </td>

        <td>Yes</td>
        <td>The background must include both of the:

        </td>
    </tr>
    <tr>
        <td>No</td>
        <td>The background does not include any from above. </td>
    </tr>
    <tr>
        <td>Partial</td>
        <td>The background includes at least <strong>one</strong> of  from above. </td>
    </tr>
    <tr> 
     <td rowspan="3">b. Explain how and why the animal species and model being used can address the scientific objectives and, where appropriate the study's relevance to human biology.
        </td>
         <td>Yes</td>
        <td>The background must include all of the following: 
1) explain how or why the animal species being used can address the scientific objectives
2) explain how or why the model being used can address the scientific objectives
3) a statement about the relevance to the human disease being modeled
        </td>
    </tr>
     <tr>
        <td>No</td>
        <td>The background does not include any of 1 – 3 from above. </td>
    </tr>
    <tr>
        <td>Partial</td>
        <td>The background includes at least  <strong>one</strong> of 1 – 3 from above. </td>
    </tr>

    <tr> <td rowspan="3">Objectives</td> 
        <td rowspan="3"> 4</td>
        <td rowspan="3"> Ddescribe the primary and any secondary objectives of the study, or specific hypotheses being tested.</td>
        <td>Yes</td>
        <td>The primary and secondary objectives/hypotheses must be stated</td>
    </tr>
    <tr><td>No</td><td>No primary or secondary objectives/hypotheses are stated</td></tr>
    <tr><td>Partial</td><td>At least one primary or secondary objective/hypothesis is stated</td></tr>

</table>
